@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 99, 102, 241;
  }
  body {
    background-color: #050505;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.02) 1px,
        transparent 1px
      ),
      linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 30px 30px;
    @apply font-sans text-slate-300 antialiased overflow-x-hidden;
  }
}

.bento-card {
  @apply bg-zinc-900/40 backdrop-blur-md border border-zinc-800/50 hover:border-indigo-500/50 transition-all duration-500;
}

.glow-text {
  text-shadow: 0 0 20px rgba(99, 102, 241, 0.4);
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.scanline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(99, 102, 241, 0.05),
    transparent
  );
  animation: scan 4s linear infinite;
  pointer-events: none;
}
